In [1]:
import psycopg2
#connect to pg
conn = psycopg2.connect("dbname='foodmining' user='' host='' password=''")
import pandas.io.sql as psql

## ArticleScoreTable Example

In [18]:
dataframe = psql.read_sql("SELECT * FROM ArticleScoreTable", conn)
dataframe.shape

(354, 8)

In [19]:
dataframe.iloc[:,2:].sum(axis=0)

ch       142
jp        53
ko        51
tai       19
west      81
other     29
dtype: int64

In [3]:
print dataframe.tail()

                                                 url  score     ch     jp  \
0  https://www.ptt.cc/bbs/Food/M.1440654584.A.F2F...      1   True   True
1  https://www.ptt.cc/bbs/Food/M.1391700658.A.04C...      1   True  False
2  https://www.ptt.cc/bbs/Food/M.1446565831.A.71B...      1  False  False
3  https://www.ptt.cc/bbs/Food/M.1426079189.A.6A1...      0  False  False

      ko    tai   west  other
0  False  False  False  False
1  False  False  False  False
2  False  False   True  False
3  False  False  False   True

In [20]:
dataframe = psql.read_sql("SELECT * FROM ArticleTable LIMIT 5", conn)
dataframe.shape

(5, 7)

In [22]:
print (dataframe.tail())

   articleid                        title      author  \
0      78480      [食記] 小市集李記豆花：TVBS推薦的名店！  yayaya0805
1      78481             [食記] 宜蘭 艾德理法式烘焙坊   austinlee
2      78482       [食記] 日本．大阪／梅田．大起水產回轉壽司   lutherwei
3      78483       [食記] 台北 捷運市政府站 添好運 阪急店    ian60702
4      78484  [食記] 台中 Bungy Jump韓國烤肉 高cp值    nvn83325

                                                 url  \
0  https://www.ptt.cc/bbs/Food/M.1454758593.A.184...
1  https://www.ptt.cc/bbs/Food/M.1454759414.A.12D...
2  https://www.ptt.cc/bbs/Food/M.1454760545.A.B86...
3  https://www.ptt.cc/bbs/Food/M.1454763269.A.531...
4  https://www.ptt.cc/bbs/Food/M.1454765377.A.97A...

                       date  \
0  Sat Feb  6 19:36:30 2016
1  Sat Feb  6 19:50:10 2016
2  Sat Feb  6 20:09:03 2016
3  Sat Feb  6 20:54:24 2016
4  Sat Feb  6 21:29:34 2016

                                             context                  latlon
0  作者yayaya0805 (yayaya)看板Food標題[食記] 小市集李記豆花：TVBS...  24.5635773,120.8174711
1  作者austinlee (財務自由享樂人生)看板Food標題[食記] 宜蘭 艾德理法式烘焙坊...  24.7418478,121.7474344
2  作者lutherwei (Mr.白)看板Food標題[食記] 日本．大阪／梅田．大起水產回轉...  34.7026007,135.5010344
3  作者ian60702 (逸想天開)看板Food標題[食記] 台北 捷運市政府站 添好運 阪急...  25.0408461,121.5653964
4  作者nvn83325 (珮筑)看板Food標題[食記] 台中 Bungy Jump韓國烤肉 ...   24.1669149,120.637587

## Let's perform chinese word split with jieba
installation:
```
pip install jieba
```

In [23]:
import jieba

In [25]:
seg_list = jieba.cut("我来到北京清华大学", cut_all=True)
print("Full Mode: " + "/ ".join(seg_list))  # 全模式

Full Mode: 我/ 来到/ 北京/ 清华/ 清华大学/ 华大/ 大学

In [33]:
seg_list = jieba.cut("我来到北京清华大学")
[i for i in seg_list] # way to extract terms from generator.

['我', '来到', '北京', '清华大学']

In [43]:
import re

def remove_punct(x,debug=False):
    if debug:
        print(x)
    return re.sub('[：！\[\]]',' ',x)

remove_punct(dataframe.title[0],debug=True)

[食記] 小市集李記豆花：TVBS推薦的名店！

' 食記  小市集李記豆花 TVBS推薦的名店 '

In [44]:
seg_list = jieba.cut(remove_punct(dataframe.title[0]))
[i for i in seg_list] # way to extract terms from generator.

[' ', '食記', ' ', ' ', '小', '市集', '李記', '豆花', ' ', 'TVBS', '推薦', '的', '名店', ' ']

## StoreTable Example

In [4]:
dataframe = psql.read_sql("SELECT * FROM StoreTable", conn)
dataframe.shape

(36830, 5)

In [5]:
print dataframe.tail()

       storeid                                  address  \
36825    96817   Busan, Jung-gu, Gwangbok-ro 49beon-gil
36826    96819            27 E 5th Ave, Eugene OR 97401
36827    96820  120 Lombard Avenue, Toronto, ON M5A 4J6
36828    96821    30 Rockefeller Plaza, Concourse Level
36829    96822      Geirsgata 8, Reykjavik 101, Iceland

                     storename                   latlon  count
36825                   豆田裡嫩豆腐   35.1013195,129.0303949      1
36826  Oregon Electric Station  44.0545583,-123.0922399      1
36827        Fahrenheit Coffee     43.652532,-79.373042      1
36828                   Lady M   40.7587402,-73.9786736      1
36829                     None   64.1505357,-21.9439663      1

In [6]:
dataframe = psql.read_sql("SELECT * FROM PushTable", conn)
dataframe.shape

(109387, 5)

In [7]:
print dataframe.tail()

        pushid                                                url      userid  \
109382  112332  https://www.ptt.cc/bbs/Food/M.1495611347.A.439...      Lolira
109383  112333  https://www.ptt.cc/bbs/Food/M.1495653217.A.217...     sawx223
109384  112334  https://www.ptt.cc/bbs/Food/M.1496376258.A.765...     nakatsu
109385  112335  https://www.ptt.cc/bbs/Food/M.1497013975.A.483...     Rue2811
109386  112336  https://www.ptt.cc/bbs/Food/M.1497063823.A.8A5...  stabber111

       pushtag                                 pushcontext
109382      推                                  看了好想去，好像很不錯
109383      推                           很少在唐人街吃，都去box hill
109384      →                   這些比較像觀光客的推薦吧！我在地朋友平常不會去吃這些
109385      推   西瓜蛋糕真的好吃    然後bourke street bakery 的ginger
109386      推                                       有名的連鎖店